<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/login/login.css">
</head>

<body>

    <div class="all">
        <!-- header text -->
        <div class="header">
            {% if login == True %}
            <!-- this is the login part -->

            <h1 class="headline">Login</h1>
            <hr>
            {% elif login == False %}
            <h1 class="headline">Register</h1>
            <hr>
            {% endif %}
        </div>

        <!-- Login/Signup Form -->
        <div class="form">
           
            {% if login == True %}
            <form action="/login" method="POST">
            {% elif login == False %}
            <form action="/register" method="POST">
            {% endif %}
                <div class="form_input">
             <div class="input_text"> Email</div> 
                <input type="text" name="email" id="email" class="login_input">
            </div>
            <div class="form_input">
                <div class="input_text">          Password</div> 
                <input type="password" name="password" id="password"  pattern=".{6,}" class="login_input">
            </div>
                {% if login == False %}
                <div class="form_input">
                    <div class="input_text">       Retype Password</div> 
                <input type="password" name="password" id="re_password" pattern=".{6,}"  class="login_input">
            </div>
                {% endif %}
           
                <input type="button" value="Login" class="submit-button" onclick="submit_login()">
                <input type="submit" value="Login" id="submit_form" class="hidden" onclick="submit_login()">
                <!-- Submit User Input -->
                {% if login == True %}
               
                <p>Don't have an account?    <a class="sign-up" href="/register">Register</a></p>
                {% elif login == False %}
                <p>Already have an account?    <a class="sign-up" href="/login">Login</a></p>
                {% endif %}
            </form>
        </div>

    </div>

<script>
    function submit_login(){

        email = document.getElementById("email").value
        password = document.getElementById("password").value
       


        {% if login == True %}

        sign_in(email, password)
        {% elif login == False %}
        re_password = document.getElementById("re_password").value
        if (password == re_password){
        create_user(email,password)
    }
        {% endif %}
   

    }
</script>

<script>

function create_user(email,password){
    firebase.auth().createUserWithEmailAndPassword(email, password)
  .then((userCredential) => {
    // Signed in 
    var user = userCredential.user;
    // ...
  })
  .catch((error) => {
    var errorCode = error.code;
    var errorMessage = error.message;
    // ..
  });
}


function sign_in(email,password){
    firebase.auth().signInWithEmailAndPassword(email, password)
  .then((userCredential) => {
    // Signed in
    var user = userCredential.user;
    document.getElementById("submit_form").click()
    document.getElementById("email").value = ""
    // ...
  })
  .catch((error) => {
    var errorCode = error.code;
    var errorMessage = error.message;
  });

}

function signout(){
    firebase.auth().signOut().then(() => {
  // Sign-out successful.
}).catch((error) => {
  // An error happened.
});
}

</script>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-analytics.js"></script>


  <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->

  <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-app.js"></script>

  <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
  <script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-analytics.js"></script>

  <!-- Add Firebase products that you want to use -->
  <script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-firestore.js"></script>

  <script>
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    var firebaseConfig = {
      apiKey: "AIzaSyDIlZTrArzrAebVq31N_Gcwdi_x_YVY39w",
      authDomain: "dropbox-95882.firebaseapp.com",
      databaseURL: "https://dropbox-95882-default-rtdb.firebaseio.com/",
      projectId: "dropbox-95882",
     
      storageBucket: "dropbox-95882.appspot.com",
      messagingSenderId: "767527827560",
      appId: "1:767527827560:web:a436b80d804f8fd2d823dd",
      measurementId: "G-7E2CELX1LT"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    console.log(firebase.auth())
  </script>
</body>
</html>