<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/login/login.css">
</head>

<body>

    <div class="all">
        <!-- header text -->
        <div class="header">
            {% if login == True %}
            <!-- this is the login part -->

            <h1 class="headline">Login</h1>
            <hr>
            {% elif login == False %}
            <h1 class="headline">Register</h1>
            <hr>
            {% endif %}
        </div>

        <!-- Login/Signup Form -->
        <div class="form">

            {% if login == True %}
            <form action="/login">
            {% elif login == False %}
            <form action="/register" method="POST">
            {% endif %}
                <div class="form_input">
             <div class="input_text"> Email</div> 
                <input type="text" name="email" class="login_input">
            </div>
            <div class="form_input">
                <div class="input_text">          Password</div> 
                <input type="password" name="password"  pattern=".{6,}" class="login_input">
            </div>
                {% if login == False %}
                <div class="form_input">
                    <div class="input_text">       Retype Password</div> 
                <input type="password" name="password" pattern=".{6,}"  class="login_input">
            </div>
                {% endif %}
           
                <input type="submit" value="Login" class="submit-button">
                <!-- Submit User Input -->
                {% if login == True %}
               
                <p>Don't have an account?    <a class="sign-up" href="/register">Register</a></p>
                {% elif login == False %}
                <p>Already have an account?    <a class="sign-up" href="/login">Login</a></p>
                {% endif %}
            </form>
        </div>

    </div>


</body>

</html>