<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/path/home.css">
</head>

<body>
    <div class="all">
        <div class="first-heading main-div">
            <h1>
            Cloud <span class="accent">Storage</span>
            </h1>
        </div>

        <div class="second-heading">
            <h1>Home</h1>
        </div>
        <div class="third-heading">
            <div class="first-section main-div">
                <div class="title">
                    <h5 class="share">Share Folder</h5>
                    <h5 class="accent upload">Upload</h5>
                </div>
                <div class="search">
                    <input type="search" name="Search" class="search-input" placeholder="Search">
                </div>
                <div class="folders">
                    <!--Folder 1-->
                    <div class="one-folder">
                        <div class="icon">
                            <img src="/static/img/image-icon.svg" alt="Folder icon" loading="lazy" class="icon-image">
                        </div>
                        <div class="file-info">
                            <p>Username.txt</p>
                            <p class="accent">5.0 KB</p>
                        </div>
                        <div class="time-info">
                            <p class="small-text">5 Min Ago</p>
                        </div>
                    </div>
                    <!--End Folder 1-->

                    <!--Folder 2-->
                    <div class="one-folder">
                        <div class="icon">
                            <img src="/static/img/image-icon.svg" alt="Folder icon" loading="lazy" class="icon-image">
                        </div>
                        <div class="file-info">
                            <p>home.html</p>
                            <p class="accent">5.5 GB</p>
                        </div>
                        <div class="time-info">
                            <p class="small-text">5 Min Ago</p>
                        </div>
                    </div>
                    <!--End Folder 2-->

                    <!--Folder 3-->
                    <div class="one-folder">
                        <div class="icon">
                            <img src="/static/img/image-icon.svg" alt="Folder icon" loading="lazy" class="icon-image">
                        </div>
                        <div class="file-info">
                            <p>Login-image.png</p>
                            <p class="accent">10.5 KB</p>
                        </div>
                        <div class="time-info">
                            <p class="small-text">5 Min Ago</p>
                        </div>
                    </div>
                    <!--End Folder 3-->

                    <!--Folder 4-->
                    <div class="one-folder">
                        <div class="icon">
                            <img src="/static/img/image-icon.svg" alt="Folder icon" loading="lazy" class="icon-image">
                        </div>
                        <div class="file-info">
                            <p>Final-Fantasy.ico</p>
                            <p class="accent">3.5 MB</p>
                        </div>
                        <div class="time-info">
                            <p class="small-text">5 Min Ago</p>
                        </div>
                    </div>
                    <!--End Folder 4-->
                </div>
            </div>
            <div class="second-section main-div">

                <div class="first-sub-section">
                    <div class="ip">
                        <h5>Server</h5>
                        <h5 class="accent">IP: 13.121.32.232</h5>
                    </div>
                    <div class="status"><h5>Server Online</h5></div>
                </div>

                <div class="second-sub-section">
                    <h5>Words</h5>
                    <p class="small-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim tempore modi voluptatem similique? Doloremque, eveniet fugiat perferendis ullam commodi eius perspiciatis expedita dolore nemo. Tempore non obcaecati voluptatibus ad molestias.</p>
                    <h5>Words</h5>
                    <p class="small-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum doloribus quibusdam dolorum, esse porro assumenda ut dignissimos? Veritatis accusantium voluptates quas eligendi neque nihil nemo, expedita labore voluptatum incidunt obcaecati?</p>
                </div>

                <div class="folder">
                    <h5>Files</h5>
                    <div class="icon"></div>
                    <div class="folder_info">
                        <div class="folder-name">Example.pdf</div>
                        <div class="folder-date">01 Jan 2021</div>
                    </div>
                </div>



            </div>
        </div>
</body>

</html>