<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/path/home.css">
</head>

<body>
    <div class="all">
        <div class="first-heading main-div">
            <h1>
            Cloud <span class="accent">Storage</span>
            </h1>
        </div>

        <div class="second-heading">
            <h1>Home</h1>
        </div>
        <div class="third-heading">
            <div class="first-section main-div">
                <div class="title">
                    <h5 class="share">Share Folder</h5>
                    <h5 class="accent upload">Upload</h5>
                </div>
                <div class="search">
                    <input type="search" name="Search" class="search-input" placeholder="Search">
                </div>
                <div class="folders"></div>
            </div>
            <div class="second-section main-div">

                <div class="first-sub-section">

                </div>

                <div class="second-sub-section">

                </div>

                <div class="folder">

                    <div class="icon"></div>
                    <div class="folder_info">
                        <div class="folder-name">Example.pdf</div>
                        <div class="folder-date">01 Jan 2021</div>
                    </div>
                </div>



            </div>
        </div>
</body>

</html>