<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/path/home.css">
</head>

<body>
    <div class="all">
        <div class="first-heading">
            Cloud Storage
        </div>

        <div class="second-heading">
            <h1>HOME</h1>
        </div>
        <div class="third-heading">
            <div class="first-section">

            </div>
            <div class="second-section">
                
                <div class="first-sub-section">

                </div>
                
                <div class="second-sub-section">

                </div>

                <div class="folder">
                    <div class="icon"></div>
                    <div class="folder-name">Example.pdf</div>
                    <div class="folder-date">01 Jan 2021</div>
                </div>
            </div>
        </div>
</body>

</html>