html, body{
    margin:0px;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    background:rgb(248,248,248);
    //weifnweoifewoiwfmeofim
}

.all{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    background: white;
    border-radius:30px;
}

.header{
    padding:3em;
    margin:0px;

    hr{
        margin-top:2px;
        width:20%;
        margin-left:0px;
        border-top: 3px solid black;
        border-bottom:none;
        border-left:none;
         border-right:none;
    }
    
    h1{
        margin-bottom:10px;
    }
}

.form{
    padding:3em;
    margin:0px;
    padding-top:0px !important;
    
    .form_input{
        display: grid;
        grid-template-columns: 1fr 3fr;
        margin: 20px;
    }

    .login_input{
        padding-left: 20px;
        height: 40px;
        width: 100%;
        color:black;
        outline: none;
        border: none;
        box-shadow: 0px 0px 5px 1px rgba(32, 32, 32, 0.2);
        border-radius: 5px;
        margin-bottom: 2em;
    }

    p{
        font-size:14px;
    }

    .sign-up{
        margin-top:2em;
        font-weight: bold;
        color: rgb(25, 87, 201);

    }
    .sign-up:hover {
        color:rgba(0, 81, 255, 0.781);
    }

    .submit-button{
        padding:1em;
        padding-left:5em;
        padding-right:5em;
        font-weight: bold;
        border-width:0px;
        background-color:rgb(25, 87, 201);
        color:white;
    }

    .submit-button:hover{
        font-weight: bold;
        border-width:0px;
        background-color:white;
        color:rgb(25, 87, 201);
        box-shadow: 0px 0px 5px 1px rgba(32, 32, 32, 0.05);
    }
    
}



